<!doctype! html>
<html>
	<head>
		<title>Abstractive Summarization Using Question Answering Rewards</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/app.css" type="text/css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="app">
			<div>
				<form id="upload-form" method="post" enctype="multipart/form-data">
					<h2>Abstractive Summarization Using Question Answering Rewards</h2>
					<br>
					<h3>Using <i>{{model_type}}</i> to generate summary</h3>
					<div class="form-content-container">
						<textarea id="upload_doc" type="text" name="input_doc">{% if doc_input %}{{doc_input}}{% endif %}</textarea>
						<br>
						<input id="upload_button" type="submit" value="Submit" onclick="loading();"/>
					</div>
				</form>
			</div>
			<hr>
			<div>
				<table id="result">
					<thead>
						<tr>
							<th>Original Model</th>
							<th>Training with QA</th>
						</tr>
					</thead>
					{% if model_result %}
						<tbody>
							<tr>
								<td>{{ model_result }}</td>
								<td>{{ model_ref_result }}</td>
							</tr>
						</tbody>
					{% endif %}
				</table>
			</div>
			<div id="loading"></div>
		</div>
		<script type="text/javascript">// <![CDATA[
			function loading(){
				$("#loading").show();
				$("#result").find("tbody").hide();
			}
			$("#upload-form").submit(function (e) {
				$("#upload_button").attr("disabled", true);
				return true;
			});
		// ]]>
		</script>
	</body>
</html>
